/******************************************************************

Stylesheet: Meteor Slides 

******************************************************************/
.meteor-slides .mslide img {
	width:100%;
	height:auto;
}
.meteor-slide-heading{
	position: relative;
	z-index:99;	
	width:100%;
    padding: 1px 30px;
	text-align:center;
	bottom: 170px;
}

.heading-large{
	font-size: 32px;
	font-weight: 600;
	line-height:1;
}
